extends ./layout

block css
  link(href='/public/css/style.css', rel='stylesheet')

block content
  .container
    br
    .jumbotron
      h1 Hey, there! 
      h2 If you already have a user profile, click the link to log in! Otherwise, sign up/register to create your profile!

block js
  script(src='/public/js/main.js')
