extends ./layout

block css
  link(href='/public/css/style.css', rel='stylesheet')

block content
  .container
    br
    .jumbotron
      h1 Thanks for stopping by!
      h2 You come back now, you hear?

block js
  script(src='/public/js/login.js')