extends ./layout

block css
  link(href='/public/css/style.css', rel='stylesheet')

block content
  .container
    br
    .jumbotron
      h1 Congratulations! 
      h2 You have successfully created an account! We will get more information to add to your profile shortly!

block js
  script(src='/public/js/main.js')
